html {
    background-image: url("resources/bg.png");
    background-attachment: fixed;
    background-position: center;
}
    
#maintitle {
    text-align: center;
    font: italic 24pt sans-serif;
}

.outlinebg {
    padding: 5px;
    border:1px solid #000;
    background-color:hsla(0, 0%, 100%, 0.7);
    box-shadow: 6px 12px yellow;
}

.progress {
    background-color: rgb(116, 194, 92);
    color: white;
    padding: 1%;
    text-align: right;
    border-radius: 15px;
}

.icons {
    resize: both; 
    margin: 0%;
}

@media only screen and (max-width: 870px) {
    #photo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height:50%;
        width:50%;
    }

    #workexp {
        width: 100%;
    }
    
    #edu {
        width: 100%;
    }

    .bar {
        background-color: rgb(192, 192, 192);
        width: 90%;
        height: 80%;
        border-radius: 15px;
    }
}
@media screen and (min-width: 871px) {
    #photo {
        margin-left: 10%;
        height:30%;
        width:30%;
    }
    
    #contact {
        width: 55%;
    }
    
    #workexp {
        width: 48%;
        float:left;
    }
    
    #edu {
        width: 49%;
    }
    
    .inline {
        content: "";
        display: table;
        clear: both;
    }
    
    .inlineItem {
        float: right;
    }
    
    .clear {
        clear: both;
    }
    
    .bar {
        background-color: rgb(192, 192, 192);
        width: 60%;
        height: 80%;
        border-radius: 15px;
    }
}